<!DOCTYPE html>

{% load staticfiles %}

<html>

    <head>
        <title>
            Rango says here is the about page
        </title>
        <link rel="stylesheet" href="{% static " css/base" %}" />
        <script src="{% static " js/jquery.js" %}"></script>
    </head>
    <body>
        <div>
            This tutorial has been put together by Tariq Essa
        </div>
        <div>
            <img src="{{ MEDIA_URL }}cat.jpg "
                 alt="Picture of the majestic cat " />
        </div>
    </body>

</html>